#dinedeliverytime {
	background: url(../images/dine_popup_lg.png) top center no-repeat;
	font-size: 28px;
	font-weight: bold;
	color: #ffffff;
	
}

#dinedeliverytime #banner	{
    position: absolute;
    width: 100%;
    height: 220px;
}

#dinedeliverytime #banner #title {
    font-size: 40px;
    position: relative;
    margin-top: 150px;
    float: center;
}

#dinedeliverytime #banner p	{
	font-size: 28px;
	line-height: 40px;
	color: #ffffff;	
	position: relative;
	margin-top: 50px;
	text-align: center;
}

#dinedeliverytime #banner p span	{
	font-size: 30px;
	color: #ffff66;
}

#dinedeliverytime #selection	{
    position: absolute;
    height: 548px;
    width: 100%;
    top: 220px;
    text-align: center;
}

#dinedeliverytime #selection p span {
	color: #ffff66;
}

#dinedeliverytime #selection .label	{
    margin-top: 25px;
}

#dinedeliverytime #selection p	{
	font-size: 28px;
	line-height: 40px;
	text-align: left;
	color: #ffffff;
	float: center;
}

#dinedeliverytime #selection #buttons {
	position: absolute;
    top: 450px;
	left: 213px;
}

#dinedeliverytime #buttons a	{
	width: 300px;
	height: 35px;
	font-size: 26px;
	line-height: 35px;		
	float: left;
	text-align: center;
	position: relative;
	margin: 0 44px;
	color: #ffffff;
}

