#myprograms {
	background: #1e77ae url(../images/bk_hires_1242x768_200_kais-nw_myprograms.jpg) top center no-repeat;
}

#myprograms #banner	{
	width: 500px;
	height: 118px;
	top: 62px;
	left: 675px;
	padding: 30px 15px;
	position: absolute;
}

#myprograms #banner p	{
	font-size: 24px;
	line-height: 30px;
	margin: 0px 35px 0px 0px;
	color: #122943;
	float: right;
	position: relative;
	text-align: left;
}

#myprograms #banner p span	{
	font-size: 32px;
	color: rgba(254,242,0,1.00);
}

#myprograms #breadcrumb {
	width: 614px;
	height: 60px;
	margin: 140px 0px 0px 21px;
	position: absolute;
}

#myprograms #breadcrumb p {
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	color: #ffffff;
	text-align: center;
}

#myprograms #label	{
	width: 614px;
	height: 60px;
	margin: 201px 0px 0px 21px;
	float: left;
	position: absolute;
}

#myprograms #label p	{
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	margin: 0px 0px 0px 0px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: center;
}

#myprograms #label img	{
	margin: 10px 0px 0px 0px;
	float: right;
}


#myprograms #selections	{
	width: 600px;
	height: 312px;
	margin: 280px 0px 0px 26px;
	float: left;
	position: absolute;
	overflow: hidden;
}

#myprograms #selections ul {
	list-style-type: none;
}

#myprograms #selections a	{
	width: 570px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	padding-left: 20px;
	margin: 10px 0;
	display: block;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#myprograms #selections a.active, #myprograms #selections a:active	{
	background-color: #d36112;
}

#myprograms #selections .padding {
	width: 570px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 5px 0;
	float: none;
	display: block;
	position: relative;
}

#myprograms #buttons {
	width: 600px;
	height: 105px;
	margin: 615px 0px 0px 26px;
	position: absolute;
}

#myprograms #buttons a {
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 0 10px;
	text-align: center;
	position: relative;
	color: rgba(255,255,255,1.00);
	background-color: #318bc8;
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#myprograms #buttons a.active, #myprograms #buttons a:active	{
	background-color: #d36112;
}

#myprograms #buttons a#prev, #myprograms #buttons a#next {
    width: 280px;
}

#myprograms #buttons a.back	{
	font-size: 28px;
	padding: 0;
	margin: 0;
	width: 240px;
	text-align: center;
	position: absolute;
	bottom: 5px;
	left: 170px;
	background-color: #318bc8;
}



#myprograms #background	{
	background-position: 50% 0%; 
	background-repeat: no-repeat;
	width: 693px;
	height: 515px;
	margin: 205px 0px 0px 587px;
	float: left;
	opacity: 1.00;
	position: absolute;
}

#myprograms.about #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#myprograms #background.textoverlay {
	opacity: 0.1; 
}

#myprograms #selection	{
	width: 600px;
	height: 515px;
	top: 205px;
	left: 640px;
	float: left;
	display: inline-block;
	position: absolute;
}

#myprograms #selection #heading	{
	width: 625px;
	color: rgba(249,238,132,1.00);
	font-size: 30px;
	line-height: 36px;
	margin: 25px 0px 0px 25px;
	float: left;
	text-align: left;
}

#myprograms #selection #body	{
	width: 550px;
	height: 300px;
	margin: 70px 0;
	color: rgba(255,255,255,1.00);
}

#myprograms #selection #body #nextpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 90%;
	width: 10%;
	height: 100%;
	display: inherit;
	float: right;
}

#myprograms #selection #body #prevpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 0;
	width: 10%;
	height: 100%;
	display: inherit;
	float: right;
}

#myprograms #selection #body #nextpage:hover, #myprograms #selection #body #prevpage:hover {
	cursor: pointer;
	opacity: 0.3;
	color: blue;
}

#myprograms #selection #body p	{
	width: 625px;
	min-height: 42px;
	font-size: 30px;
	line-height: 42px;
	float: left;
	text-align: left;
	margin: 25px 25px 0px 25px;
	color: rgba(255,255,255,1.00);
}

#myprograms #selection #body p.active	{
	display: inherit;
}
	
#myprograms #selection #body p span	{
	color: rgba(255,255,102,1.00);
}

#myprograms #selection #body p span.rjust	{
	float: right;
	color: rgba(255,255,255,1.00);
}

#myprograms #selection #body p.list	{
	width: 625px;
	font-size: 30px;
	line-height: 40px;
	float: left;
	text-align: left;
	margin: 0px 25px 0px 25px;
	color: rgba(249,238,132,1.00);
}

#myprograms #selection #body ul	{
	width: 625px;
	float: left;
	margin: 0px 25px 0px 50px;
}

#myprograms #selection #body ul li	{
	margin-left: 25px;
	font-size: 30px;
	line-height: 42px;
	text-align: left;
	color: rgba(255,255,255,1.00);
}

#myprograms #selection #body ul li span	{
	color: rgba(249,238,132,1.00);
}

#myprograms #selection #body p.clickable	{
	background: rgba(49,139,200,1.00);
	width: 300px;
	min-height: 36px;
	padding: 10px;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	margin: 0px 0px 15px 25px;
	color: rgba(255,255,255,1.00);
}

#myprograms #selection #body p.middle	{
	margin-top: 200px;
}

#myprograms #selection #body p.narrow	{
	width: 500px;
	margin-right: 0px;
}

#myprograms #selection #body p.wide	{
	width: 800px;
	margin-right: 0px;
}

#myprograms #selection #body p.small	{
	font-size: 28px;
	line-height: 32px;
}

#myprograms #selection #body p.smaller	{
	font-size: 24px;
	line-height: 28px;
}

#myprograms #selection #body p.larger	{
	font-size: 42px;
	line-height: 48px;
}

#myprograms #selection #body p.nomargin	{
	margin-top: 0px;
}

#myprograms #selection #body ul.topmargin,
#myprograms #selection #body p.topmargin	{
	margin-top: 50px;
}

#myprograms #selection #body p.lower	{
	margin-top: 100px;
}

#myprograms #selection #body p.botmargin	{
	margin-bottom: 25px;
}

#myprograms #selection #body p.leftmargin	{
	margin-left: 50px;
}

#myprograms #selection #body p.highlight,
#myprograms #selection #body p span.highlight	{
	color: rgba(255,255,102,1.00);
}

#myprograms #selection #body p.lightcolor,
#myprograms #selection #body p span.lightcolor	{
	color: rgba(194,214,181,1.00);
}

#myprograms #selection #body p.nocolor,
#myprograms #selection #body p span.nocolor	{
	color: rgba(255,255,255,1.00);
}

#myprograms #selection #body p.italic,
#myprograms #selection #body p span.italic	{
	font-style: italic;
}