#mysupport {
	background: #1e77ae url('../images/bk_hires_1242x768_200_KAISER-WESTSIDE_careboard-support.jpg') center top no-repeat;
	overflow: hidden;
	font-size: 28px;
	color: #ffffff;
	font-weight: bold;
	margin: 0;
	padding: 0;				
}

#mysupport #header {
    position: absolute;
	
    top: 75px;
    left: 71px;
    width: 1100px;
    text-align: center;
}

#mysupport #header p {
    font-size: 26px;
	
    line-height: 36px;
}

#mysupport #content {
	position: absolute;
	top: 235px;
	left: 135px;
	width: 965px;
	height: 235px;
	text-align: left;
	font-size: 36px;
	line-height: 36px;
	margin: 0;
	padding: 2px 0;
	color: #000000;
}

#mysupport #content .row {
    height: 60px;
	
}

#mysupport #content .row label {
    display: block;
    float: left;
    width: 290px;

    height: 50px;
    line-height: 50px;
    text-align: right;
}

#mysupport #content .row input {
    display: block;  float: left;  
    width: 650px;  
    height: 46px;  
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    line-height: 50px;  
    text-align: left;
    margin-left: 10px;
    padding-left: 10px;
    color: #000000;
    background: #ffffaa;
    border: #666 1px solid;
}

#mysupport #buttons {
	font-size: 28px;
	font-weight: bold;
	text-align: left;
	bottom: 80px;
	left: 100px;
	position: absolute;
}

#mysupport #buttons a {
    background-color: #318bc8;
    width: 200px;
    display: block;
    float: left;
    text-align: center
;
    margin-right: 100px;
}
