#videoplayer2 {
    background: #000000;
}

#videoplayer2 #mask {
	position:fixed;
	width: 1280px;
	height: 720px;
	left: 0px;
	top: 0px;
	background-color: #000000;
	opacity: 0.9;
	z-index: 11;
	text-align: center;
}

#videoplayer2 #mask #icon {
	position: absolute;
	top: 320px;
	left: 619px;
	background: url(../images/loading18.gif) center center no-repeat;
	width: 128px;
	height: 128px;
}

#videoplayer2 #mask p {
	position: absolute;
	top: 460px;
	width: 1366px;
	font-size: 28px;
	line-height: 28px;
	text-align: center;
	color: #ffffff;
}

#videoplayer2 #controlbar	{
	background: #265c88;
	position: absolute;
	width: 100%;
	height: 52px;
	bottom: 0;
	padding: 0;
	text-align: center;
}

#videoplayer2 #controls {
	display: inline-block;
}

#videoplayer2 #controls #progress {
    position: relative;
    float: left;
    width: 800px;
}

#videoplayer2 #controls #progress p{
    float: left;
    color: #ffffff;
    font-size: 24px;
    line-height: 50px;
}

#videoplayer2 #controls #progress p.title	{
    width: 500px;
    text-align: left;
}

#videoplayer2 #controls #progress p.current {
    width: 100px;
}

#videoplayer2 #controls #progress p.duration {
    width: 100px;
}


#videoplayer2 #buttons {
    position: relative;
    float: left;
}

#videoplayer2 #buttons a {
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	margin: 0 10px;
	padding: 0 20px;
	text-align: center;
	position: relative;
	display: block;
	float: left;
	color: rgba(255,255,255,1.00);
	background-color: #318bc8;
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#videoplayer2 #buttons a.active {
	background-color: #D36112;
}

#videoplayer2 #buttons a#stop {
    
}
	
#videoplayer2 #videopanel {
	background: #000000;
	position: absolute;
	z-index: 10;
}

#videoplayer2 #videopanel.windowmode {
	width: 1188px;
	height: 668px;
	left: 46px;
	top: 0px;
}

#videoplayer2 #videopanel.fullscreen {
	width: 1280px;
	height: 720px;
	left: 0px;
	top: 0px;
	position:fixed;
}

#videoplayer2 #exitfullscreen {
	background: #000000 url(../images/exit_full_screen.png) top left no-repeat;
	display: none;
	position: absolute;
	z-index: 15;
	width: 80px;
	height: 80px;
	right: 0;
	bottom: 0;
	opacity: 0.3;
	cursor: pointer;
}

#videoplayer2 #popup {
	display: none;
	position: absolute;
	width: 566px;
	left: 400px;
	top: 268px;
	z-index: 20;
	padding: 10px 20px;
	text-align: center;
	font-size: 26px;
	color: #FFF;
	background: #265C88;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
