

#dinecourses {
	background: url(../images/bk_hires_1242x768_200_dine1.jpg) top center no-repeat;
	font-size: 28px;
	font-weight: bold;
	color: #ffffff;
}


#dinecourses  #mask {
	position:absolute;
	width: 200px;
	height: 200px;
	left: 521px;
	top: 284px;
	background-color: #000000;
	opacity: 0.5;
	z-index: 11;
	text-align: center;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

#dinecourses #mask #icon {
	position: absolute;
	top: 36px;
	left: 36px;
	background: url(../images/loading18.gif) center center no-repeat;
	width: 128px;
	height: 128px;
}

#dinecourses #banner	{
    position: absolute;
    width: 100%;
    height: 200px;
}

#dinecourses #banner #datetime {
    font-size: 28px;
    position: absolute;
    margin: 40px 0px 0px 700px;
	text-align: right;
}

#dinecourses #banner #title {
    font-size: 40px;
    position: relative;
    margin-top: 70px;
    margin-bottom: 5px;
}
#dinecourses #banner #meal {
    font-size: 40px;
    position: relative;
    margin: 70px 5px 0px 45px;
    
}

#dinecourses #banner p	{
	font-size: 28px;
	line-height: 40px;
	color: #ffffff;	
	position: relative;
	text-align: left;
	margin: 35px 0px 0px 45px;
}

#dinecourses #banner p span	{
	font-size: 30px;
	color: #ffff66;
}

#dinecourses #selection	{
    position: absolute;
    height: 148px;
    width: 100%;
    top: 720px;
    text-align: center;
}

#dinecourses #selection p span {
	color: #ffff66;
}

#dinecourses #selection .label	{
    margin-top: 25px;
}

#dinecourses #selection p	{
	font-size: 28px;
	line-height: 40px;
	text-align: left;
	color: #ffffff;
	margin-left: 110px;
}

#dinecourses #selection #buttons {
	position: absolute;
    top: -50px;
	left: 180px;
}

#dinecourses #selections #buttons a	{
	width: 300px;
	height: 35px;
	font-size: 26px;
	line-height: 35px;		
	float: left;
	text-align: center;
	position: relative;
	margin: 0 60px;
	color: #ffffff;
}

#dinecourses #selection #buttons a.view	{
	position: absolute;
	margin: 0px 0px 0px 675px;
	width: 250px;
	height: 35px;

}

#dinecourses #selection #buttons a.cancel	{
	position: absolute;
	margin: 0px 0px 0px -125px;
	width: 200px;
	height: 35px;

}


#dinecourses #selection #buttons a.help	{
	position: absolute;
	margin: 0px 0px 0px 980px;
	width: 35px;
	height: 35px;

}

#dinecourses #selections {
    position: absolute;
    width: 1280px;
	min-height: 60px;
	margin: 225px 0px 0px 0px;
	float: left;
	position: relative;

}

#dinecourses #selections a	{
	width: 300px;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	margin: 25px 0px 0px 8px;
	float: left;
	text-align: center;
	position: relative;
	color: #ffffff;
	background-color: #193c50;
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#dinecourses #selections a.highlight	{
	color: #ffff66;
}

#dinecourses #selections a.active, #secondary #selections a:active{
    background-color: #d36112;
}

#dinecourses #hints {
	position: absolute;
    top: 200px;
    left: 700px;
    
}

#dinecourses #hints div {
	width: 475px;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	float: left;
	margin: 9px 0;
	text-align: left;
	position: relative;
	color: #ffffff;
}

#dinecourses #hints div.highlight {
	color: #ffff66;
}

#dinecourses #hints div span{
	font-size: 20px;
	margin-left: 10px;
}
