
#dineview {
	background: url(../images/bk_hires_1242x768_200_dine2.jpg) top center no-repeat;
	
}

#dineview #banner	{
    position: absolute;
    width: 100%;
    height: 200px;
}

#dineview #banner #title {
    font-size: 40px;
    position: relative;
    margin: 70px 0px 0px 45px;
    margin-bottom: 5px;
}

#dineview #banner p	{
	font-size: 30px;
	line-height: 40px;
	color: #ffffff;	
	position: relative;
	text-align: left;
	margin: 0px 0px 0px 45px;
}

#dineview #banner p span	{
	font-size: 30px;
	color: #ffff66;
	margin: 0px 0px 0px 0px;	
}

#dineview #banner p span.small	{
	font-size: 26px;
}

#dineview #banner p span.nutrient	{
	font-size: 21px;
	margin: 0px 0px 0px 613px;
	color: #ffffff;	
}

#dineview #breadcrumb {
	width: 614px;
	height: 60px;
	margin: 140px 0px 0px 21px;
	position: absolute;
}

#dineview #breadcrumb p {
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	color: #ffffff;
	text-align: center;
}

#dineview #label	{
	width: 614px;
	height: 60px;
	margin: 1px 0px 0px 21px;
	float: left;
	position: absolute;
}

#dineview #label p	{
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	margin: 0px 0px 0px 0px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: center;
}

#dineview #label img	{
	margin: 10px 0px 0px 0px;
	float: right;
}


#dineview #selections	{
	width: 750px;
	height: 378px;
	margin: 220px 0px 0px 26px;
	float: left;
	position: absolute;
	overflow: hidden;
}

#dineview #selections ul {
	list-style-type: none;
}

#dineview #selections p	{
	font-size: 30px;
	line-height: 42px;
}
#dineview #selections a	{
	width: 701px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	padding-left: 40px;
	margin: 4px 0;
	display: block;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}


#dineview #selections p	{
	line-height: 42px;
	position: absolute;
	text-align: right;
	margin: 0px 0px 0px -40px;
}

#dineview #selections p.span	{
	text-align: right;
	padding-right: 20px;
}

#dineview #selections a.active, #dineview #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#dineview #selections a.selected {
    background: url(../images/checkmark.png) top left no-repeat;
	background-color: #d36112;

}

#dineview #selections a.selected.active {
    background: url(../images/checkmark.png) top left no-repeat;
	background-color: #d36112;

}


#dineview #selections .padding {
	width: 570px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 5px 0;
	float: none;
	display: block;
	position: relative;
}


#dineview #buttons {
	width: 1280px;
	height: 105px;
	margin: 670px 0px 0px 26px;
	position: absolute;
}

#dineview #buttons a {
	height: 42px;
		font-size: 30px;
	line-height: 42px;
	margin: 0 10px;
	float: left;
	text-align: center;
	position: relative;
	color: rgba(255,255,255,1.00);
	background-color: #318bc8;
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}


#dineview #buttons a.active, #dineview #buttons a:active	{
	background-color: #d36112;
}

#dineview  #selection #buttons a.cancel	{
	position: absolute;
	margin: 0px 0px 0px -125px;
	width: 200px;
	height: 35px;

}

#dineview #buttons a#order {
    background: #669900;
	width: 240px;
}

#dineview #buttons a#back {
    width: 240px;
}

#dineview #buttons a#view {
    width: 240px;
}

#dineview  #buttons #nutrients {
	width: 725px;
	height: 105px;
	margin: -71px 0px 0px 23px;
	position: absolute;
	border-top: thin solid #ffff66;
}

#dineview #buttons #nutrients #nlabel {
	width: 330px;
	font-size: 22px;
	color: #CCFFFF;
	text-align: right;
	margin: 13px 0px 0px 242px;
}


#dineview  #buttons #nutrients #totalcarbs {
	width: 358px; 
	font-size: 24px;
	line-height: 28px;
	color: #FFFF66;
	text-align: right;
	margin: -27px 0px 0px 357px;
}

#dineview  #buttons #nutrients  #maxlabel {
	font-size: 22px;
	line-height: 26px;
	color: #CCFF99;
	float: left;
	margin-left: 25px;
	margin: 0px 0px 0px 464px;
}

#dineview  #buttons #nutrients #max {
	width: 358px;
	font-size: 24px;
	line-height: 24px;
	color: #CCFF99;
	text-align: right;
	margin: 0px 0px 0px 357px;
}




#dineview #background	{
	background-position: 50% 0%; 
	background-repeat: no-repeat;
	width: 693px;
	height: 515px;
	margin: 205px 0px 0px 587px;
	float: left;
	opacity: 1.00;
	position: absolute;
}

#dineview.about #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#dineview #background.textoverlay {
	opacity: 0.1; 
}



#dineview #qty {
	background: url(../images/dine_qty-window.png) center top no-repeat;
	overflow: hidden;
	font-size: 28px;
	color: #ffffff;
	font-weight: bold;
	margin: 240px 0px 0px 250px;
	padding: 0;				
}

#dineview #qty #itemqty {
	text-align: center;
	font-size: 26px;
	line-height: 30px;
	margin:95px 0px 0px 556px;
	padding: 2px 0;
	position: absolute;

}

#dineview #qty #content {
	text-align: center;
	font-size: 26px;
	line-height: 30px;
	margin: 0;
	padding: 2px 0;
	position: absolute;
}

#dineview #qty  #text1 {
	width: 100px;
	font-size: 20px;
	font-weight: normal;
	color: #ffffcc;
	text-align: left;
	margin:31px 0px 0px 643px;
	
}


#dineview #qty #qtybuttons {
	font-size: 28px;
	font-weight: bold;
	text-align:center;
	position: absolute;
	margin-top: -50px;
}



#dineview #qty #qtybuttons a {

	
    width: 200px;
    display: block;
    float: left;
    text-align: center;
	position: absolute;
	
}

.up {	
background: url(../images/btn_dine_qty-arrow-up.png) top center no-repeat;
	margin: 51px 0px 0px 467px;
	text-decoration: none;	
}

.down {	
background: url(../images/btn_dine_qty-arrow-down.png) top center no-repeat;
	margin: 209px 0px 0px 467px;
	text-decoration: none;
}

.close {	
	margin: 270px 0px 0px 517px;
	background-color: #318bc8;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 5px 10px;
	color: #ffffff;
	text-decoration: none;
	
}

.remove {	
	margin: 315px 0px 0px 517px;
	background-color: #318bc8;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 5px 10px;
	color: #ffffff;
	text-decoration: none;

}


