#dinedeliverytime {
	background: url(../images/bk_hires_1242x768_200_dine1.jpg) top center no-repeat;
	font-size: 28px;
	font-weight: bold;
	color: #ffffff;
}

#dinedeliverytime #banner	{
    position: absolute;
    width: 100%;
    height: 200px;
}

#dinedeliverytime #banner #datetime {
    font-size: 28px;
    position: absolute;
    margin: 40px 0px 0px 700px;
	text-align: right;
}

#dinedeliverytime #banner #title {
	width: 1180px;
	text-align: center;
    font-size: 40px;
    position: relative;
    margin: 70px 0px 0px 45px;
    margin-bottom: 5px;
}

#dinedeliverytime #banner p	{
	font-size: 28px;
	line-height: 40px;
	color: #ffffff;	
	position: relative;
	text-align: center;
}

#dinedeliverytime #banner p span	{
	font-size: 30px;
	color: #ffff66;
	margin: 0px 0px 0px 45px;
}

#dinedeliverytime #selection	{
    position: absolute;
    height: 348px;
    width: 100%;
    top: 520px;
    text-align: center;
}

#dinedeliverytime #selection p span {
	color: #ffff66;
}

#dinedeliverytime #selection .label	{
    margin-top: 25px;
}

#dinedeliverytime #selection p	{
	font-size: 28px;
	line-height: 40px;
	text-align: left;
	color: #ffffff;
	margin-left: 110px;
}

#dinedeliverytime #selection #buttons {
	position: absolute;
    top: 150px;
	left: 180px;
}

#dinedeliverytime #buttons a	{
	width: 300px;
	height: 35px;
	font-size: 26px;
	line-height: 35px;		
	float: left;
	text-align: center;
	position: relative;
	margin: 0 60px;
	color: #ffffff;
}

#dinedeliverytime #selections {
    position: absolute;
    top: 200px;
    left: 125px;
    width: 950px;
}

#dinedeliverytime #selections a	{
	width: 200px;
	height: 50px;
	font-size: 32px;
	line-height: 50px;
	padding-left: 10px;
	margin: 20px 0px 0px 20px;
	float: left;
	text-align: center;
	position: relative;
	color: #ffffff;
	background-color: #193c50;
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#dinedeliverytime #selections a.highlight	{
	color: #ffff66;
}

#dinedeliverytime #selections a.active, #secondary #selections a:active{
    background-color: #d36112;
}

#dinedeliverytime #hints {
	position: absolute;
    top: 200px;
    left: 700px;
    
}

#dinedeliverytime #hints div {
	width: 475px;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	float: left;
	margin: 9px 0;
	text-align: left;
	position: relative;
	color: #ffffff;
}

#dinedeliverytime #hints div.highlight {
	color: #ffff66;
}

#dinedeliverytime #hints div span{
	font-size: 20px;
	margin-left: 10px;
}
