@charset "utf-8";

#leafmail {
	font-size: 24px;
}

#leafmail #popup {
	background: url(../images/leafmail_bk.png) top left no-repeat;
	top: 175px;
	left: 0;
	width: 677px;
	height: 367px;
}

#leafmail #close {
	position: absolute;
	top: 24px;
	right: 35px;
	width: 176px;
	height: 26px;
	text-align: center;
}

#leafmail #content {
    margin-top: 54px;
}

#leafmail #content #inbox {
    float: left;
    width: 284px;
    height: 272px;
    margin: 16px 0 0 35px;
}

#leafmail #content #inbox a {
    display: block;
    width: 100%;
    height: 30px;
    white-space: nowrap;
}

#leafmail #content #inbox a.active {
	background: url(../images/leafmail_chaser.png) top right no-repeat;
	color: #ff8000;
}

#leafmail #content #inbox a span.date{
    display: block;
    float: left;
    width: 110px;
    height: 30px;  
    line-height: 30px;
}

#leafmail #content #inbox a span.subject{
    display: block;
    float: left;
    width: 156px;
    height: 30px;
    line-height: 30px;
}

#leafmail #content #body {
    float: left;
    width: 287px;  
    height: 250px;  
    margin: 24px 0 0 25px;
}

#leafmail #content #body p {
    font-size: 30px;  
    line-height: 40px;
    color: #FFF;
	
}

