#multiscreen {
	font-size: 24px;
}

#multiscreen{
	background: #20567D url(../images/bk_multiscreen.jpg);
	background-size: 1280px 720px;
	width: 1280px;
	height: 720px;
	top: 0;
	overflow: hidden;
}

#multiscreen #content {
}

#multiscreen #content #header {
    height: 100px;
    background: rgba(80, 30, 80, 0.5);
    padding: 10px;
    color: #fff;
}

#multiscreen #content #header #team {
    position: absolute;
	top: 10px;
    left: 150px;
    width: 600px;
	height: 100px;
	line-height: 100px;
    text-align: left;
}

#multiscreen #content #header #team #name{
    color: #ffff66;
}

#multiscreen #content #header #avator {
	position: absolute;
	top: 10px;
	left: 20px;
	width: 100px;
	height: 100px;
}

#multiscreen #content #header #avator img {
	height: 100%;
	width: auto;
}

#multiscreen .close-button {
    right: 20px;	
    top: 20px;
}

#multiscreen #content #body {
    float: left;
    width: 100%;  
    height: 600px;  
}

#multiscreen #content #body #payload{
    height: 600px;
    padding: 0;
    text-align: center;
}

#multiscreen #content #body #payload img{
    height: 600px;
    width: auto;
    border: none;
}

