#tvguide {
    background: #023B5E;
}

#tvguide #mask {
	position:fixed;
	width: 1366px;
	height: 768px;
	left: 0px;
	top: 0px;
	background-color: #000000;
	opacity: 0.9;
	z-index: 10;
	text-align: center;
}

#tvguide #icon {
	position: absolute;
	top: 320px;
	left: 619px;
	background: url(../images/loading18.gif) center center no-repeat;
	width: 128px;
	height: 128px;
}

#tvguide #mask p {
	position: absolute;
	top: 460px;
	width: 1366px;
	font-size: 28px;
	line-height: 28px;
	text-align: center;
	color: #ffffff;
}

#tvguide #gridinfo	{
	width: 1200px;
	margin: 0 20px;
	position: absolute;
	z-index: 1;
}
#tvguide #gridinfo div#current	{
	color: #ffffff;
	width: 1204px;
	height: 170px;
	left: 0px;
	position: absolute;
}
#tvguide #gridinfo div#current p	{
	min-height: 32px;
	color: #000000;
	font-size: 28px;
	line-height: 28px;	
	float: left;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;	
}
#tvguide #gridinfo div#current p.title	{
	margin: 110px 0 0 0px;
	padding: 3px 0;
	overflow: hidden;
	position: absolute;
	color: #ffff66;
	border-radius: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;	
	font-size: 30px;
}
#tvguide #gridinfo div#current p.channel	{
	color: #ffffff;
	margin: 70px 0 0 0;
	text-align: right;
	float: left;
	font-size: 24px;
}
#tvguide #gridinfo div#current p.time	{
	color: #ffffff;
	width: 268px;
	font-size: 26px;
	position: absolute;
	margin-top: 160px;
}
#tvguide #gridinfo div#current p.synopsis	{
	font-size: 28px;
	line-height: 32px;
	}
#tvguide #gridinfo div#current p.date	{
	width:385px;
	height: 25px;
	left: 0;
	top: 24px;
	color: #ffffff;
	font-size: 20px;
	text-align: left;
	float: left;
	position: absolute;
	
}
#tvguide #gridinfo div#current p.message	{
	height: 25px;
	right: 100px;
	top: 210px;
	font-size: 24px;
	font-weight: normal;
	text-align: right;
	float: right;
	position: absolute;
}
#tvguide #gridinfo div#current p.message span {
	color: #aaa;
	margin-right: 100px;
}
#tvguide #gridinfo div#current p.message a {
	color: #aaa;
}
#tvguide #gridinfo div#current img	{
	width: 300px;
	height: 185px;
	float: right;
}

#tvguide #gridpanel {
	width: 1242px;
	height: 480px;
	margin-top: 240px;
	position: relative;
}

#tvguide #gridpanel #header {
    background: #023B5E;
    box-shadow: 0 14px 30px -8px #000;
    position: absolute;
    top: 0;
    height: 35px;
    z-index: 2;
}

#tvguide #gridpanel #header a {
	width: 43px;
	height: 43px;
	top: -17px;
	display: block;
	position: absolute;
	z-index: 1;
}

#tvguide #gridpanel #header a#prev{
	background: url(../images/button_left.png) center center no-repeat;
	left: 5px;
}

#tvguide #gridpanel #header a#prev:active{
	background: url(../images/button_left_click.png) center center no-repeat;
}

#tvguide #gridpanel #header a#next{
	background: url(../images/button_right.png) center center no-repeat;
	right: 5px;
}

#tvguide #gridpanel #header a#next:active{
	background: url(../images/button_right_click.png) center center no-repeat;
}

#tvguide #gridpanel #header div{
	width: 250px;
	color: #ffffff;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	padding-top: 2px;
	line-height: 24px;
	position: relative;
	float: left;	
}

#tvguide #gridpanel #header div#today {
	width: 242px;
}

#tvguide #gridpanel #content {
    height: 450px;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 30px;
}

.iScrollVerticalScrollbar {
	position: absolute;
	z-index: 9;
	width: 46px;
	top: 10px;
	right: 5px;
	bottom: 10px;
	overflow: hidden;
}

.iScrollVerticalScrollbar.iScrollBothScrollbars {
	bottom: 18px;
}

.iScrollIndicator {
	position: absolute;
	background: #cc3f6e;
	border-color: #FFFFFF;
	border-radius: 22px;
}

.iScrollVerticalScrollbar .iScrollIndicator {
	width: 44px;
	background: #edb67f;
	border-left: 1px solid #4D86A8;
	border-right: 1px solid #000000;
	opacity: 0.8;
}

#tvguide #gridpanel #loading {
	background: transparent url(../images/loading18.gif) center center no-repeat;
	width: 1000px;
	height: 450px;
	left: 242px;
	top: 0;
	position: absolute;
	z-index: 0;
}

#tvguide #gridpanel #program-list {
	z-index: 1;
	position: absolute;
	width: 100%;
}

#tvguide #gridpanel #program {
	width: 100%;
	margin: 0;
	position: relative;
	float: left;
	list-style-type: none;
}

#tvguide #gridpanel #program li {
	position: relative;
	margin: 0;
	height: 66px;
}

#tvguide #gridpanel .channelstation {
	width: 249px;
	height: 64px;
	display: inline-block;
	z-index: 1;
}
#tvguide #gridpanel .channelstation .channelname {
	height: 66px;
	padding: 0;
	position: relative;
	display: block;
	cursor: pointer;
}
#tvguide #gridpanel .channelstation .channelname span {
	color: #D5D5D5;
	font-size: 24px;
	background: #04598D;
	border-top: 1px solid #7F7F7F;
	border-bottom: 1px solid #1A1A1A;
	line-height: 64px;
	padding: 0 5px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;	
}
#tvguide #gridpanel .channelstation .channelname.active span {
    background: rgba(245, 128, 37, 1.0);
    color: #000;
}

#tvguide #gridpanel .channel {
	height: 64px;
	position: absolute;
	left: 242px;
	top: 0;
	/* z-index: 0; */
}
#tvguide #gridpanel .channel .program {
	width: 250px;
	height: 66px;
	padding: 0;
	position: relative;
	float: left;
	cursor: pointer;
}
#tvguide #gridpanel .channel .program.active {
	z-index: 10;
}
#tvguide #gridpanel .channel .program.active span	{
	color: #000000;
	background: rgba(245,128,37,1.0);
	height: 68px;
	margin: -5px -5px;
	border-radius: 5px;
	border: 4px solid #ffffff;
	line-height: 74px;
	font-size: 26px;
}

#tvguide #gridpanel .channel .program span {
	background: #023B5E;
	color: #ffffff;
	font-size: 24px;
	border-top: 1px solid #7F7F7F;
	border-left: 1px solid #7F7F7F;
	border-bottom: 1px solid #1A1A1A;
	border-right: 1px solid #1A1A1A;
	padding: 0 5px;
	display: block;
	height: 64px;
	line-height: 64px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;	
}


#tvguide #gridpanel .channel .D30	{
	width: 250px;
}
#tvguide #gridpanel .channel .D60	{
	width: 500px;
}
#tvguide #gridpanel .channel .D90	{
	width: 750px;
}
#tvguide #gridpanel .channel .D120	{
	width: 1000px;
}
#tvguide #gridpanel .channel .D150	{
	width: 1250px;
}
#tvguide #gridpanel .channel .D180	{
	width: 1500px;
}
#tvguide #gridpanel .channel .D210	{
	width: 1750px;
}
#tvguide #gridpanel .channel .D240	{
	width: 2000px;
}
#tvguide #gridpanel .channel .D270	{
	width: 2250px;
}
#tvguide #gridpanel .channel .D300	{
	width: 2500px;
}
#tvguide #gridpanel .channel .D30.active	{
	width: 250px;
}
#tvguide #gridpanel .channel .D60.active	{
	width: 500px;
}
#tvguide #gridpanel .channel .D90.active	{
	width: 750px;
}
#tvguide #gridpanel .channel .D120.active	{
	width: 1000px;
}
#tvguide #gridpanel .channel .D150.active	{
	width: 1250px;
}
#tvguide #gridpanel .channel .D180.active	{
	width: 1500px;
}
#tvguide #gridpanel .channel .D210.active	{
	width: 1750px;
}
#tvguide #gridpanel .channel .D240.active	{
	width: 2000px;
}
#tvguide #gridpanel .channel .D270.active	{
	width: 2250px;
}
#tvguide #gridpanel .channel .D300.active	{
	width: 2500px;
}

#tvguide #tvpanel {
	background: #000000;
	position: absolute;
	z-index: 10;
}

#tvguide #tvpanel.windowmode {
	width: 328px;
	height: 185px;
	left: 841px;
	top: 25px;
}

#tvguide #tvpanel.fullscreen {
	width: 1366px;
	height: 768px;
	left: 0px;
	top: 0px;
	position:fixed;
}

#tvguide #tvpanel #channelinfo {
	/*background: #56a2d6;*/
	background: #113663;
	color: white;
	height: 75px;
	display: none;
	position: absolute;
	margin-top: 25px;
	margin-left: 25px;
}

#tvguide #tvpanel #channelinfo p {
	font-size: 32px;
	font-weight: bold;
	padding: 25px;
}
