#webbrowser {

}

#webbrowser #mask {
	position:absolute;
	width: 200px;
	height: 200px;
	left: 521px;
	top: 284px;
	background-color: #000000;
	opacity: 0.5;
	z-index: 11;
	text-align: center;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

#webbrowser #mask #icon {
	position: absolute;
	top: 36px;
	left: 36px;
	background: url(../images/loading18.gif) center center no-repeat;
	width: 128px;
	height: 128px;
}

#webbrowser #close {
	right: 25px;
	top: 10px;
	width: 40px;
	height: 40px;
	background-size: contain;
}

#webbrowser #content {
	background-color: #1e77ae;
	margin: 0;
	padding: 0;
	color: #ffffff;
	width: 100%;
	height: 100%;
}

#webbrowser #content iframe {
	background-color: #fff;
	margin: 0;
	padding: 0;
	color: #ffffff;
	width: 100%;
	height: 708px;
}

#webbrowser #content ::-webkit-scrollbar {
    width: 46px;
    height: 46px;
}

#webbrowser #content ::-webkit-scrollbar-track {
    background: #dddddd;
}

#webbrowser #content ::-webkit-scrollbar-thumb {
    background: #2177ad;
    border-radius: 8px;
}

#webbrowser #content ::-webkit-scrollbar-button{
	width: 46px;
    height: 46px;
}

#webbrowser #content ::-webkit-scrollbar-button:vertical:decrement {
	background: url(../images/button_up.png) center center no-repeat;
}

#webbrowser #content ::-webkit-scrollbar-button:vertical:decrement:active {
	background: url(../images/button_up_click.png) center center no-repeat;
}

#webbrowser #content ::-webkit-scrollbar-button:vertical:increment {
	background: url(../images/button_down.png) center center no-repeat;
}

#webbrowser #content ::-webkit-scrollbar-button:vertical:increment:active {
	background: url(../images/button_down_click.png) center center no-repeat;
}

#webbrowser #control {
	height: 60px;
}

#webbrowser #control form {
	height: 40px;
}

#webbrowser #address-bar {
	height: 40px;
	width: 940px;
	font-size: 24px;
	padding: 0 10px;
}

#webbrowser #go-button {
    height: 40px;
	
    width: 40px;
}

.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}    
/* Form wrapper styling */
#webbrowser .form-wrapper {
    width: 1000px;
    padding: 10px;
    margin: 0 auto;
}

/* Form text input */

#webbrowser .form-wrapper input {
    float: left;   
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;     
}

#webbrowser .form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

#webbrowser .form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

#webbrowser .form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

#webbrowser .form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}   

/* Form submit button */
#webbrowser .form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    background: #00C547;
    border-radius: 0 3px 3px 0;     
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  

#webbrowser .form-wrapper button:hover{    
    background: #d36112;
}  

#webbrowser .form-wrapper button:active,
#webbrowser .form-wrapper button:focus{  
    background: #d36112;
    outline: 0;  
}

#webbrowser .form-wrapper button:hover:before{
    border-right-color: #e54040;
}

#webbrowser .form-wrapper button:focus:before,
#webbrowser .form-wrapper button:active:before{
        border-right-color: #c42f2f;
}     
