#website {

}

#website #mask {
	position:absolute;
	width: 200px;
	height: 200px;
	left: 521px;
	top: 284px;
	background-color: #000000;
	opacity: 0.5;
	z-index: 11;
	text-align: center;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

#website #mask #icon {
	position: absolute;
	top: 36px;
	left: 36px;
	background: url(../images/loading18.gif) center center no-repeat;
	width: 128px;
	height: 128px;
}

#website #close {
	right: 46px;
	top: 0px;
	opacity: 0.8;
}

#website #content {
	background-color: #1e77ae;
	margin: 0;
	padding: 0;
	color: #ffffff;
	width: 100%;
	height: 100%;
}

#website #content iframe {
	background-color: #fff;
	margin: 0;
	padding: 0;
	color: #ffffff;
	width: 100%;
	height: 100%;
}

#website #content ::-webkit-scrollbar {
    width: 46px;
    height: 46px;
}

#website #content ::-webkit-scrollbar-track {
    background: #dddddd;
}

#website #content ::-webkit-scrollbar-thumb {
    background: #2177ad;
    border-radius: 8px;
}

#website #content ::-webkit-scrollbar-button{
	width: 46px;
    height: 46px;
}

#website #content ::-webkit-scrollbar-button:vertical:decrement {
	background: url(../images/button_up.png) center center no-repeat;
}

#website #content ::-webkit-scrollbar-button:vertical:decrement:active {
	background: url(../images/button_up_click.png) center center no-repeat;
}

#website #content ::-webkit-scrollbar-button:vertical:increment {
	background: url(../images/button_down.png) center center no-repeat;
}

#website #content ::-webkit-scrollbar-button:vertical:increment:active {
	background: url(../images/button_down_click.png) center center no-repeat;
}
